{% extends "base.html" %} {% block main %}

<div style="display: none;">
    {% block home %}current{% endblock %}
</div>

<!-- Banner -->
<div id="banner-wrapper">
    <div id="banner" class="box container">
        <div class="row">
            <div class="col-7 col-12-medium">
                <h2>Hi. This is FLIO.</h2>
                <p>It's a free Blogging website by Aworkaround</p>
            </div>
            <div class="col-5 col-12-medium">
                <ul>
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('create_blog') }}"
                            class="button large icon solid fa-arrow-circle-right">Create
                            Blog</a></li>
                    <li><a href="{{ url_for('blogs') }}" class="button alt large icon solid fa-question-circle">All
                            Blogs</a></li>
                    {% else %}
                    <li><a href="{{ url_for('signup') }}" class="button large icon solid fa-arrow-circle-right">Register
                            Now</a></li>
                    <li><a href="{{ url_for('login') }}"
                            class="button alt large icon solid fa-question-circle">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Features -->
<div id="features-wrapper">
    <div class="container">
        <div class="row">
            {% for item in blogs %}
            <!-- Box -->
            <div class="col-4 col-12-medium">
                <section class="box feature">
                    <a href="/blog/{{ item.id }}" class="image featured"><img
                            src="{{ url_for('static', filename='images/' + item.thumbnail) }}" alt="" /></a>
                    <div class="inner">
                        <header>
                            <h2>{{ item.title }}</h2>
                            <p>{{ item.subtitle }}</p>
                            <a href="{{url_for('delete_blog', blog_id=item.id)}}" style="color: red">Delete</a>
                            <a href="{{url_for('edit_blog', blog_id=item.id)}}">Edit</a>
                        </header>
                        <p>{{ item.description }}</p>
                    </div>
                </section>
            </div>
            {% endfor %}
        </div>
        <div class="row" style="margin: 2em auto; padding: 1em auto">
                <a style="margin: 8px" href="/?page={{ blogs.prev_num }}" class="button {% if blogs.has_prev == False %}alt disabled-button{% endif %}">Previous Page</a>
                <a style="margin: 8px; " href="/?page={{ blogs.next_num }}" class="button {% if blogs.has_next == False %}alt disabled-button{% endif %}">Next Page</a>
        </div>
    </div>
</div>
{% endblock %}