{% extends "base.html" %} {% block main %}

<div style="display: none;">
    {% block createblog %}current{% endblock %}
</div>

<!-- Banner -->
<div id="banner-wrapper">
    <div id="banner" class="box container">
        <div class="row">
            <div class="col-7 col-12-medium">
                <h2>Hi. You can create Blog here.</h2>
                <p>Be sure that your blog does not hurt anyone's sentiments and respect privacy.</p>
            </div>
            <div class="col-5 col-12-medium">
                <form action="" method="POST">
                    <input style="margin-bottom: 16px;" type="email" name="email" placeholder="Email Address" required/>
                    <input style="margin-bottom: 16px;" type="password" name="password" placeholder="Password" required/>
                    <input class="button" style="margin-bottom: 16px;" type="submit" value="Login">
                    <input class="button alt" type="reset" value="Clear" />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
