{% extends "base.html" %} {% block main %}

<!-- Banner -->
<div id="banner-wrapper">
    <div id="banner" class="box container">
        <div class="row">
            <div class="col-7 col-12-medium">
                <h2>Signup for Free!</h2>
                <p>You can create and update your blogs after signing up for an account.</p>
            </div>
            <div class="col-5 col-12-medium">
                <form action="" method="POST">
                    <input style="margin-bottom: 16px;" type="text" name="name" placeholder="Full Name" required/>
                    <input style="margin-bottom: 16px;" type="email" name="email" placeholder="Email Address" required/>
                    <input style="margin-bottom: 16px;" type="password" name="password" placeholder="New Password" required/>
                    <input style="margin-bottom: 16px;" type="password" name="cnf_password" placeholder="Confirm Password" required/>
                    <input class="button" style="margin-bottom: 16px;" type="submit" value="Register">
                    <input class="button alt" type="reset" value="Clear" />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
